body
{
    background-size: cover;
}
.titulo
{
    width:100%;
    text-align: left;
}
.titulo h2
{
    display:inline;
}
.titulo button
{
    float: right;
    border: 1px solid black;
}
#joga, #status
{
    font-size: 22px;
}
li
{
    text-align: left;
}
h4
{
background-color: greenyellow;
line-height: 2;
margin: 0;
}